<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>

    <test name="CucumberTest">
        <classes>
            <class name="tests.DragAndDropTest"/>
        </classes>
    </test>

    <test name="Mail Tests">
        <parameter name="to" value="isqad.bro@gmail.com"/>
        <parameter name="subj" value="test"/>
        <parameter name="context" value="a new test"/>
        <parameter name="userName" value="strong.tt123@yandex.kz"/>
        <parameter name="pass" value="kikiki123"/>
        <parameter name="sameSubjAndText" value="here's everything same"/>
        <parameter name="fewReceivers" value="isqad.bro@gmail.com, test@mail.ru, asd@mail.ru"/>
        <classes>
            <class name="tests.mail.CreateAndSendDraftTest" />
            <class name="tests.mail.CreateAndSendMailTest"/>
            <class name="tests.mail.CreateMailWithFewReceiversTest"/>
            <class name="tests.mail.CreateEmptyMailTest"/>
        </classes>
    </test>

    <test name="GitTests">
        <parameter name="baseUrl" value="https://github.com"/>
        <parameter name="userName" value="danteg233"/>
        <parameter name="pass" value="test123"/>
        <parameter name="repositoryName" value="test"/>
        <parameter name="fileName" value="Fox"/>
        <parameter name="fileContext" value="just a new file!"/>
        <parameter name="headerName" value="new file"/>
        <parameter name="commitMessage" value="added new txt file"/>
        <classes>
            <class name="tests.git.CreateRepositoryTest"/>
            <class name="tests.git.CreateNewFileTest"/>
            <class name="tests.git.DeleteRepositoryTest"/>
        </classes>
    </test>

    <!--<test name="HTTP test">-->
        <!--<classes>-->
            <!--<class name="tests.HttpTest"/>-->
        <!--</classes>-->
    <!--</test>-->

</suite>