<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>

    <test name="CucumberTest">
        <classes>
            <class name="tests.DragAndDropTest"/>
        </classes>
    </test>
    <test name="MailTest">
        <parameter name="to" value="isqad.bro@gmail.com"/>
        <parameter name="subj" value="test"/>
        <parameter name="context" value="a new test"/>
        <parameter name="userName" value="strong.tt123@yandex.kz"/>
        <parameter name="pass" value="kikiki123"/>
        <classes>
            <class name="tests.MailTest" />
        </classes>
    </test>
    <test name="GitTest">
        <parameter name="baseUrl" value="https://github.com"/>
        <parameter name="userName" value="danteg233"/>
        <parameter name="pass" value="test123"/>
        <parameter name="repositoryName" value="test"/>
        <parameter name="fileName" value="Fox"/>
        <parameter name="fileContext" value="just a new file!"/>
        <parameter name="headerName" value="new file"/>
        <parameter name="commitMessage" value="added new txt file"/>
        <classes>
            <class name="tests.GitTest"/>
        </classes>
    </test>
    <test name="HTTP test">
        <classes>
            <class name="tests.HttpTest"/>
        </classes>
    </test>
</suite>